@using Syncfusion.EJ2

@{
    ViewBag.PageTitle = "CAP > ";
    ViewBag.PlatformName = "CAP";
    ViewBag.MenuName = "Default DB";
    ViewBag.FunctionName = "List";
}

@section SearchSection{

    @*<div class="row align-items-center">
    <div class="col-10">
        <div class="m-2">
            <div class="row align-items-center">
                <div class="col-3">
                    <ejs-textbox id="txtSearchBox" cssClass="e-outline" placeholder="Search Keyword..."></ejs-textbox>
                </div>
                <div class="col-auto">
                    Period
                </div>
                <div class="col-2">
                    <ejs-datepicker id="dpStartDate" format="yyyy-MM-dd" placeholder="Start Date..."></ejs-datepicker>
                </div>
                <div class="col-2 datepicker-section">
                    <ejs-datepicker id="dpEndDate" format="yyyy-MM-dd" placeholder="End Date..."></ejs-datepicker>
                </div>
                <div class="col-2">
                    <button asp-controller="CapDefaultDb" asp-action="Index" id="Search" type="submit" class="btn btn-purple btn-medium rounded-pill waves-effect waves-light">Search</button>
                </div>
            </div>
        </div>
        <div class="m-2">
            <div class="row">
                <div class="col-6">
                    <ejs-checkbox id="chkStauts" label="Status" checked="true"></ejs-checkbox>
                    <ejs-checkbox id="chkProjectID" label="ProjectID" checked="true"></ejs-checkbox>
                    <ejs-checkbox id="chkJobId" label="JobID" checked="true"></ejs-checkbox>
                    <ejs-checkbox id="chkVesselName" label="Vessel Name" checked="true"></ejs-checkbox>
                    <ejs-checkbox id="chkCategory" label="Category" checked="true"></ejs-checkbox>
                    <ejs-checkbox id="chkSurveyor" label="Surveyor" checked="true"></ejs-checkbox>
                </div>

            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-end">
            <div class="align-self-center">
                <button asp-controller="CapDefaultDb" asp-action="Search" id="Search" type="submit" class="btn btn-purple rounded-pill waves-effect waves-light">Search</button>
            </div>
        </div>
    </div>
</div>*@

    <form asp-action="Index" asp-controller="CapDefaultDb" method="post">
        <div class="row align-items-center m-0">
            <div class="col">
                <ejs-textbox id="txtSearchBox" cssClass="e-outline inputable" placeholder="Search Keyword..."></ejs-textbox>
            </div>
            <div class="col-auto">
                Period
            </div>
            <div class="col-2">
                <ejs-datepicker id="dpStartDate" value="@DateTime.Now.AddYears(-1).ToShortDateString()" format="yyyy-MM-dd" placeholder="Start Date..." cssClass="inputable"></ejs-datepicker>
            </div>
            <div class="col-2">
                <ejs-datepicker id="dpEndDate" value="@DateTime.Now.ToShortDateString()" format="yyyy-MM-dd" placeholder="End Date..." cssClass="inputable"></ejs-datepicker>
            </div>
            <div class="col">
                <button asp-controller="CapDefaultDb" asp-action="Index" id="Search" type="submit" class="btn btn-purple btn-medium rounded-pill waves-effect waves-light">Search</button>
            </div>
        </div>
    </form>
}

    @section ContentsSection{
    <div class="d-flex justify-content-between align-items-center">
        <div class="ps-2pageContentTitle pageContentTitle">
            <h3>Default D/B</h3>
        </div>
        <div class="ps-1">
            <a asp-controller="CapDefaultDb" asp-action="Create" id="btnPrint" class="btn btn-info btn-custom rounded-pill waves-effect waves-light">New</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @*enableInfiniteScrolling="true" enableVirtualization="true" *@
            <ejs-grid id="Grid" dataSource="@ViewBag.dataSource"
                  enableInfiniteScrolling="false" width="100%" recordClick="rowClick" allowSorting="true" allowSelection="true" allowTextWrap="true"
                  height="510"
                  rowHeight="32"
                  allowMultiSorting="true"
                  allowTextWrap="true"
                  allowResizing="true"
                  allowReordering="true"
                  allowSorting="true"
                  allowFiltering="true"
                  allowExcelExport="true"
                  allowPdfExport="true"
                  allowGrouping="true"
                  allowPaging="true"
                  showColumnChooser="true"
                  toolbar="@( new List<string>() { "ColumnChooser", "ExcelExport", "PdfExport", "CsvExport", "Print"})">
                <e-grid-filterSettings type="CheckBox"></e-grid-filterSettings>
                <e-grid-pagesettings pageCount="10" pageSize="10" pageSizes="@(new string[] {"10", "15", "20" , "50", "All" })"></e-grid-pagesettings>
                <e-grid-groupSettings enableLazyLoading="true" allowReordering="true" showDropArea="true"></e-grid-groupSettings>
                <e-grid-columns>
                    <e-grid-column field="NO" headerText="No" textAlign="Center" customAttributes=@(new{@class="customCss"}) width="80"></e-grid-column>
                    <e-grid-column field="NSN_ID" id="NSN_ID" headerText="NSN" customAttributes=@(new{@class="customCss"}) width="130" textalign="Center"></e-grid-column>
                    <e-grid-column field="JOB_ID" headerText="Job No." textAlign="Center" customAttributes=@(new{@class="customCss"}) width="150"></e-grid-column>
                    <e-grid-column field="VESSEL_NAME" headerText="Vessel Name(Type)" disableHtmlEncode="false" textAlign="Center" customAttributes=@(new{@class="customCss"}) width="200"></e-grid-column>
                    <e-grid-column field="CATEGORY_ID" headerText="Category" textAlign="Center" customAttributes=@(new{@class="customCss"}) width="120"></e-grid-column>
                    @*<e-grid-column field="DESCRIPTION"  headerText="Description" customAttributes=@(new{@class="customCss"}) width="200"></e-grid-column>*@
                    <e-grid-column field="QUANTITY_AMOUNT" headerText="Qty" customAttributes=@(new{@class="customCss"}) width="100" textAlign="Center"></e-grid-column>
                    @*<e-grid-column field="PIC_NAMES" headerText="Surveyor" disableHtmlEncode="false" textAlign="Center" customAttributes=@(new{@class="customCss"}) width="150"></e-grid-column>*@
                    @*<e-grid-column field="LATEST_INSPECTION_DATE" headerText="Latest Insp Date" format="yyyy-mm-dd" customAttributes=@(new{@class="customCss"}) width="180" textAlign="Center"></e-grid-column>*@
                    <e-grid-column field="INSPECTION_PERIOD_END_DATE" headerText="Inspection Date/Period" format="yyyy-mm-dd" customAttributes=@(new{@class="customCss"}) width="220" textalign="Center"></e-grid-column>
                    <e-grid-column field="EQUIPMENT_SPECIFICATION" headerText="Final Techincal Report" customAttributes=@(new{@class="customCss"}) width="210"></e-grid-column>
                    <e-grid-column field="EQUIPMENT_SPECIFICATION" headerText="Attachment" customAttributes=@(new{@class="customCss"}) width="140"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <script>

        function rowClick(args) {
            // var gridObj = document.getElementsByClassName('e-grid')[0].ej2_instances[0];
            // var selectedRecords = gridObj.getSelectedRecords();
            // var ajaxdata = JSON.stringify(selectedRecords, null, ' ');
            // var trimStr = ajaxdata.trim();

            //var obj = JSON.parse(ajaxdata);
            //var jsonObjKey = []; //jsonObj key 담을 배열
            //var jsonObjVal = []; //jsonObj value 담을 배열
            // for(var i=0; i<obj.length; i++){
            //     jsonObjKey.push(Object.keys(obj[i])[1]); //key를 담음
            //     jsonObjVal.push(obj[i][Object.keys(obj[i])[1]]);//value만 담음
            //     };

            // var sp = JSON.stringify(jsonObjVal);
            // console.log("ajaxdata : " + ajaxdata);
            // console.log("jsonObjKey : "+jsonObjKey);
            // console.log("jsonObjVal : "+jsonObjVal);
            // console.log("jsonObjVal : "+typeof(jsonObjVal));
            // console.log("sp : " + sp);
            // console.log("sp : "+typeof(sp));

            //console.log(args.rowData);
            window.location.href = "/CapDefaultDb/Detail/" + args.rowData.CAP_DEFAULT_DB_IDX;
        }

    </script>
}